*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
   
        background: linear-gradient(0.25turn, #7291eda0, #e1f1f8, #d855f5da);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vmax;
    
    
}
.ui-w-40 {
    width: 40px !important;
    height: auto;
}

.card{
    box-shadow: 0 1px 15px 1px rgba(52,40,104,.08);    
}

.ui-product-color {
    display: inline-block;
    overflow: hidden;
    margin: .144em;
    width: .875rem;
    height: .875rem;
    border-radius: 10rem;
    -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.15) inset;
    vertical-align: middle;
}

#back a {
    position: absolute;
    top: 0;
    left: 0;
    margin: 20px;
    color: black;
}