* {
    margin: 0;
    padding :0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(0.25turn, #bfee8aa0, #ebf8e1, #e4ba8eda);
    background-repeat: no-repeat;
    height: 100vh;
}

#icon a {
    position: absolute;
   right: 0;
   top: 0;
   margin: 20px 20px;
   color: #3a0404;
   
}

